@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-container{
	margin: 10px;
	width: 250px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #0000FF;
}

.home-card{
	margin: 10px;
	width: 80px;
	height: 80px;
	border: 1px solid #000000;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
}

.home-card h4 a:visited,
.home-card h4 a:link,
.home-card h4 a:active{
	text-decoration: none;
}


.home-card:hover {
	transform: scale(1.05);
	background-color: #0000DD;
}

.home-card:hover a{
	color: #FFFFFF;
}

.lista-titulo{
	margin: 10px;
}

.lista-navbar{
	width: 100vw;
	height: 40px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgrey;
	
}

.lista-navbar a{
	margin: 5px;
}

.lista-navbar a input{
	cursor: pointer;
}

.lista-table{
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
}


.lista-table th,
.lista-table td {
	border: 1px solid black;
	padding: 5px 7px;
	height: auto;
	width: auto;
}
